<!DOCTYPE html>
<html lang="{{- .Site.LanguageCode -}}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "sidebar.html" . -}}
    <main class="container-fluid">
      {{- partial "header.html" . -}}
      {{- partial "content.html" . -}}
      {{- partial "footer.html" . -}}
    </main>
    {{/*  <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("https://www.gdufe.top/sw.js").then(
            (registration) => {
              console.log(
                "Service worker registration successful: ",
                registration
              );
            },
            (error) => {
              console.error(`Service worker registration failed: `, error);
            }
          );
        });
      } else {
        console.error("Service workers are not supported.");
      }
    </script>  */}}
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "1d0ee14d149a423bb9cb1747d7d3647e"}'></script><!-- End Cloudflare Web Analytics -->
 </body>
</html>
